.head {
    background-color: silver;
    padding: 25px;
    border-radius: 0px;
    margin: 0px;
}

.head h1 {
    display: flex;
    justify-content: center;
}

.head ul {
    list-style: none;
    display: flex;
    font-size: 150%;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.head ul li {
    padding-left: 20px;
    padding-right: 20px;
}

.head a {
    text-decoration: none;
    color: black;
}

img {
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
}